@charset "UTF-8";

/* 공통 으로 사용할 부분 */
.item-img{
    width: 250px;
    height: 320px;
    overflow: hidden;
    border-radius: 10px;
}
.item-img img{
    width: 100%;
}
.item-bt{
    width: 250px;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}
.item-bt span{
    width: 120px;
    height: 36px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
}
.item-bt span a{
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.heart-bt a i{
    color: #F93C3C;
}
.item-info{
    width: 250px;
}
.item-info-list li h3{
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}
.item-info-list li .orignal-price{
    font-size: 13px;
    color: #bfbfbf;
    padding-top: 10px;
    text-decoration: line-through;
}
.item-info-list li b{
    font-size: 16px;
    font-weight: 500;
}
.item-info-list li b span{
    color: #F93C3C;
}
.item-info-list li .review{
    font-size: 12px;
    padding-top: 10px;
    font-weight: 500;
}
.item-info-list li .review i{
    padding-right: 3px;
}