@charset "UTF-8";
.cate {
  width: 100%;
}
.inner {
  width: 100%;
}
.cate-title {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}
.cate-title li {
  width: calc(100% / 5);
  line-height: 50px;
  font-size: 18px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #f1f1f1;
  border-right: none;
  font-weight: 500;
}
.cate-title li:hover{
  background-color: #f1f1f1;
}
.cate-title li a{
  display: block;
}
.cate-title li a.active{
  display: block;
    background: #000;
    border-radius: 10px;
}
.cate-title li a.active{
  display: block;
    color: #fff;

}
.cate-title li >a {
    color: #000;
}
.cate-title li:last-child {
  border-right: 1px solid #f1f1f1;
}
.cate-swiper-area{
  position: relative;
  width: 100%;
  height: 464px;
}
.cate-swiper-area > .categorie{
  position: absolute;
  width: 100%;
  /* display: none; */
}
.cate .full-bt{
    margin-bottom: 45px;
}

@media screen and (max-width : 1280px){
  .cate-swiper-area{
    height: 386px;
  }
}