@charset "UTF-8";

.footer{
    position: relative;
    width: 100%;
    background-color:#eee;
}
.ft-top{
    width: 100%;
    /* background-color: #eee; */
    border-bottom: 1px solid #666;
}
.ft-bottom{
    width: 100%;
    /* background-color: #eee; */
}
.ft-top > .inner{
    padding: 0;
}
.ft-bottom > .inner{
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}

/* 푸터 상단 */
.company-intro{
    display: flex;
    padding: 15px 20px;
    font-size: 13px;
    gap: 40px;
}
/* 푸터 하단 */
.ft-logo{
    width: 200px;
    margin-bottom: 20px;
}
.ft-logo img{
    width: 100%;
}
.ft-bottom-left p{
    font-size: 13px;
    padding-top: 10px;
}
.ft-bottom-left p br{
    display: none;
}
/* 푸터 하단 오른쪽 */
.ft-bottom-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.sns{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}
.sns li p{
    font-size: 13px;
}
.sns li i{
    font-size: 45px;
}
/* QR */
.QR{
    display: flex;
    align-items: center;
    gap: 10px;
}
.QR li{
    font-size: 13px;
}
.QR li a{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #333;
}

@media screen and (max-width : 768px) {
    .company-intro{
        display: flex;
        padding: 15px 20px;
        font-size: 12px;
        gap: 5px;
        max-width: 430px;
        justify-content: space-between;
        margin: 0 auto;
    }
    .ft-logo{
        width: 150px;
        margin: 0 auto 10px;
    }
    .ft-bottom > .inner{
        flex-direction: column;
        gap: 20px;
    }
    .ft-bottom-left p{
        font-size: 12px;
        text-align: center;
    }
   
    .ft-bottom-right{
        justify-content: center;
        gap: 10px;
    }
    .sns{
        justify-content: center;
    }
    .sns li p{
        font-size: 12px;
    }
    .sns li i{
        font-size: 35px;
    }
    .QR{
        justify-content: center;
    }
    .QR li{
        font-size: 12px;
    }
}
@media screen and (max-width : 480px){
    .company-intro{
        font-size: 11px;
    }
    .ft-bottom-left p br{
        display: block;
    }
}
@media screen and (max-width : 320px){
    .QR{
        display: none;
    }
}