@charset "UTF-8";
/* 768카테고리 */
.h_cate768 {
  position: absolute;
  right: 0;
  /* top: 20%; */
  width: 232px;
  z-index: 9999;
  display: none;
}
.h_cate768.active{
  display: block;
}
.h_cate768 li > a {
  padding: 0 30px;
  font-weight: 500;
  color: #000;
  font-size: 16px;
}

.h_cate768 .fa-bars {
  font-size: 30px;
  color: #000;
}

#downBt {
  font-size: 15px;
}
.h_cate_1_768 {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.hCate1List_768 {
  width: 100%;
  line-height: 50px;
  background-color: #cfed6b;
}

.hCate1List_768 a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hCate1List_768 button {
  color: #000;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  padding: 0 0 0 20px;
  font-weight: 500;
}

.h_cate_2_768 li a {
  color: #666;
}
.h_cate_2_768 li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  display: none;
}
.header_icon_320 {
  position: absolute;
  bottom: 7%;
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #cfed6b;
  padding: 0 30px;
  font-size: 20px;
}
/* 768 */
@media screen and (max-width: 768px) {

  .logo {
    width: 170px;
  }
  .header_icon .fa-magnifying-glass {
    display: block;
  }
  .header_icon .fa-bars {
    display: block;
  }
  .headerBottom {
    display: none;
  }
  .header_such {
    display: none;
  }

  .header_icon {
    gap: 30px;
  }
  .fa-user {
    margin: 0;
  }
  .header_icon a {
    font-size: 23px;
  }
}
@media screen and (max-width: 730px) {
  .h_cate768 {
    top: 9%;
    z-index: 9;
  }
}
@media screen and (max-width: 632px) {

}
@media screen and (max-width: 570px) {
  .logo {
    width: calc(100% - 400p);
  }

}
@media screen and (max-width: 400px) {
  .header_icon > a > .fa-magnifying-glass {
    display: none;
  }
  .header_icon > a > .fa-user {
    display: none;
  }
  .header_icon > a > .fa-cart-shopping {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .headerTop .inner {
    height: 80px;
  }
  .h_cate768 {
    top: 15%;
    width: 100%;
    z-index: 999;
    text-align: center;
  }
  .logo {
    width: 50%;
  }
  .header_icon {
    padding: 20px;
  }

  .fa-bars {
    display: block;
  }
  .header_icon {
    gap: 0px;
  }
  .header_icon_320 {
    display: block;
    display: flex;

  }
  .fa-xmark {
    font-size: 23px;
  }
}
