@charset "UTF-8";
.headerTop {
  width: 100%;

  background-color: #cfed6b;
}
.headerTop .inner {
  position: relative;
  padding:20px;
}
.headerTop .inner img {
  width: 20%;
}
.header_such {
    padding:0px;
    position: absolute;
    top: 20px;
    left: 35%;
  width: 500px;
  height: 50px;
  background-color: #fff;
  border-radius: 30px;
}
.header_such a>i{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: #BEBEBE;
}
.header_icon a{
    padding:20px;
  position: relative;
  font-size: 30px;
  color: #434647;
}

