@charset "UTF-8";
/* 해더탑 */
.headerTop {
  width: 100%;
  background-color: #cfed6b;
  border-bottom: 1px solid #fff;
}
.headerTop .inner {
  position: relative;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.logo {
  width: 20%;
}
.logo img {
  width: 100%;
}
.header_such {
  padding: 0 20px;
  position: relative;
  width: 500px;
  height: 50px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_such input {
  font-size: 18px;
  border: none;
  outline: none;
}
.header_such > a > i {
  /* position: absolute; */
  /* top: 10px; */
  /* right: 15px; */
  font-size: 25px;
  color: #bebebe;
}
.header_icon {
  display: flex;
  padding-right: 10px;
  align-items: center;
}
.fa-user{
  margin: 0 50px;
}
.header_icon > a {
  /* display:block; */
  position: relative;
  font-size: 30px;
  color: #434647;
}
.header_icon .fa-bars{
  display: none;
}
.header_icon .fa-magnifying-glass{
  display:none;
}
/* 해더바텀 */
.headerBottom {
  background-color: #cfed6b;
}
.headerBottom > .inner {
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}
.h_cate {
  width: 232px;
  height: 100%;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  background-color: #a6dd24;
  padding-left: 25px;
  color: #333;
  position: relative;
}
.h_cate_title {
  font-weight: 500;
  height: 50px;
  line-height: 47px;
}
.h_cate_1 {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 99;
  background-color: #a6dd24;
  font-size: 15px;
  width: 100%;
  display: none;
}
.h_cate:hover .h_cate_1 {
  display: block;
}
.h_cate_1 > li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #a6dd24;
  font-size: 15px;
  padding-left: 25px;
  font-weight: 500;
}
.h_cate_1 > li > a {
  color: #000;
}
.h_cate_2 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
  font-size: 15px;
  display: none;
  background-color: #fff;
}
.hCate1List:hover {
  background-color: #fff;
}
.hCate1List:hover .h_cate_2 {
  display: block;
}
/* .hCate1List.active{
  background-color: #fff;
}
.hCate1List.active .h_cate_2{
  display: block;
} */
.h_cate_2 > li {
  background-color: #fff;
  padding-left: 25px;
}
.h_cate_2 > li > a {
  color: #666;
}
.h_cate_2 > li:hover > a {
  color: #000;
}
.h_cate_2 > li:hover {
  background-color: #efefef;
  font-weight: 700;
}
/* 해더 하단 옆에부분*/
.h_b_right {
  width: calc(100% - 232px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h_b_right a {
  padding-left: 30px;
}
/* 해더메뉴바 */
.h_menu {
  display: flex;
  font-size: 17px;
  font-weight: 500;
}
.h_menu > a{
  width: 100%;
  display: block;
}
/* 로그인 회원가입 */
.login {
  font-size: 15px;
  font-weight: 500;

}
/* 768카테고리 */

.h_cate768 {
  display:none;
  width: 232px;
  height: 100%;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  padding-left: 25px;
  color: #333;
  position: absolute;
  top: 70px;
  right: 0px;
  z-index: 9;
}
.h_cate768 .fa-bars {
  font-size: 30px;
  color: #333;
}
.h_cate768 li {
  /* display: none; */
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #a6dd24;
}
.h_cate_2_768 {
  /* display: none; */
}
.h_cate_2_768 li {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
}
/* 1024 */
@media screen and (max-width: 1024px) {
  .header_icon {
    gap: 0px;
  }
  .fa-user{
    margin: 0 35px;
  }
  .header_such{
    width: 350px;
  }
  .logo{
    width: 25%;
  }
  .headerTop .inner{
    align-items: center;
  }
  .h_cate{
    width: 182px;
  }
  .h_b_right{
    width: calc(100% - 182px);
  }
  .h_b_right a{
    padding-left: 20px;
  }
}
/* 768 */
@media screen and (max-width: 768px) {
  .header_icon .fa-magnifying-glass{
    display:block;
  }
  .header_icon .fa-bars{
    display:block;
  }
  .headerBottom {
    display: none;
  }
  .header_such {
    display: none;
  }
  .header_icon{
    gap: 30px;
  }
  .fa-user{
    margin: 0 ;
}
