@charset "utf-8";
.join-page {
  height: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.join-page .inner {
  max-width: 500px;
  padding-bottom: 45px;
}
.join-info li > input:focus {
  outline: none;
}

.join-title {
  width: 100%;
  border-bottom: 2px solid #ccc;
  position: relative;
}
.join-title h1 {
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
}
.join-title span {
  position: absolute;
  bottom: 3px;
  right: 0;
  font-size: 11px;
}
.join-title span > b {
  color: red;
}
.join-wrap {
  font-size: 14px;
  padding: 20px;
}
.join-info ul {
  width: 100%;
}
.join-info li >label{
  width: 120px;
  font-size: 16px;
}
.join-info li > input{
  width: 300px;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding-left: 10px;

}
.join-info li {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  line-height: 40px;
}
.join-info li > label > p > b {
  color: red;
}
.join-info li > p > b {
  color: red;
}
.join-info li:last-child >p{
  width: 120px;
  font-size: 16px;
}
.join-info li > button {
  height: 40px;
  width: 300px;
  border: 1px solid #a6dd24;
  border-radius: 2px;
  background-color: #fff;
}
.join-info li > button > i {
  font-size: 12px;
}
.genDer{
  width: 100%;
  display: flex;
}
.genDer-title {
  width: 120px;
  font-size: 16px;
line-height: 40px;
}
.genDer ul{
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.genDer li{
  margin-right: 0;
  display: flex;
  gap: 10px;
}
.genDer li >input{
  width: 20px;


}
.genDer li > label{
  width: 60px;
}
/* .bht-info {
  width: 100%;
  margin: 30px;
  height: 40px;
  display: flex;
}
.bht-info > input {
  outline: none;
} */
.joinGo {
  border: 1px solid #a6dd24;
  border-radius: 2px;
  background-color: #a6dd24;
  color: #333;
  width: 200px;
  height: 40px;
  font-weight: bold;
  margin: 0 auto ;
  display: block;
}
.joinGo:hover {
  background-color: #92c420;
}
