@charset "UTF-8";
@import url("header.css");
@import url("header768.css");
@import url("coupon.css");
@import url("slide_banner.css");
@import url("best.css");
@import url("today.css");
@import url("timesale.css");
@import url("oneday.css");
@import url("categorie.css");
@import url("footer.css");
@import url("login.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  html{
    font-size: 10px;
    scroll-behavior: smooth;
  }
  a {
    text-decoration: none;
    color: #333;
    font-family: "Noto Sans KR", sans-serif;
  }
  img {
    vertical-align: middle;
    border: 0;
  }
  body { 
     font-family: "Noto Sans KR", sans-serif;
  }
  /* 탑버튼 */
  #gotop {
    position: fixed;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    background-color: #fff;
    padding: 7px;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    cursor: pointer;
  }
  #gotop img{
    height: 100%;
    transform: rotate(270deg);
  }
  /* 공통영역 */
  .inner{
    margin: 0 auto;
    max-width: 1200px;
    padding: 45px 20px 0;
  }
  .title{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .full-bt{
    display: block;
    /* padding: 18px 180px; */
    width: 400px;
    height: 60px;
    background-color: #fff;
    border: 1px solid #bebebe;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 45px auto 0;
  }
  .full-bt a{
    display: block;
  }
  .sw-bt{
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.13);
    cursor: pointer;
    font-size: 0;
    position: relative;
    /* z-index: 99; */
  }
  .sw-bt::before {
    content: "";
    width: 15px;
    height: 30px;
    display: block;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 8px);
    background: url("../images/angle-left-solid.svg")no-repeat center;
  }
  .bt-next::before {
    transform: scaleX(-100%);
  }
  .bt-prev{
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 99;
    transform: translate(-50%, -50%);
  }
  .bt-next{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 99;
    transform: translate(50%, -50%);
  }
  /*  */
  /* 768 */
  @media screen and (max-width:1280px){
    .inner{
      max-width: 1024px;
      padding: 45px 30px 0 ;
    }}
  @media screen and (max-width:1024px){
    .inner{
      max-width: 768px;
      padding: 45px 30px 0;
    }
    .full-bt{
      width: 300px;

    }
  }
  @media screen and (max-width : 768px) {
    .title{
      font-size: 24px;
    }
    .inner{
      padding: 30px 20px 0;
    }
  }
  @media screen and (max-width : 480px) {
    .full-bt{
      width: 170px;
      height: 45px;
      border-radius: 5px;
      margin: 30px auto 0;
    }
    .full-bt a{
      font-size: 12px;
    }
    .sw-bt{
      width: 40px;
      height: 40px;
    }
    .sw-bt::before{
      width: 12px;
      height: 24px;
      top: calc(50% - 12px);
    left: calc(50% - 6px);
    }
  }
  @media screen and (max-width : 320px) {
    .title{
      font-size: 18px;
    }
  }