@charset "UTF-8";

.slide-banner img{
    width: 100%;
}
.slide-banner{
    position: relative;
    width: 100%;
}
.sw-banner{
    position: relative;
}
.slide-banner .sw-bt{
    opacity: 0;
    transition: all 0.7s;
}
.sw-banner:hover .sw-bt{
    opacity: 1;
}
.slide-banner .bt-next{
    right: 20%;
}
.slide-banner .bt-prev{
    left: 20%;
}
.sw-banner .swiper-pagination-bullet{
    background-color: #333;
}
.mb-slide-banner{
    display: none;
}
