@charset "UTF-8";
/* 오른쪽 */
.timesale {
  margin-top: 30px;
  width: 100%;
  background-color: #ececec;
}
.timesale .inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 100px 20px;
}
.timesale-title {
  width: calc(100% / 2);
}
.timesale-title .title {
  line-height: 40px;

}
.timesale-title span {
  font-size: 14px;
  color: #333;
}
.timesale-title li:nth-child(2){
margin-bottom: 20px ;
}
.timesale-title i {
  font-size: 26px;
  color: #333;
  display: inline-block;
}
.timesale-title p {
  font-size: 26px;
  color: #333;
  display: inline-block;
  /* margin: 40px 0 0 5px; */
}
/* 왼쪽 */
.time-item-info {
  width: 100%;
}
.timesale-banner > img {
  width: 100%;
}

.timesale-bt {
  width: 100%;
  display: block;
  background-color: #fff;
  border: 1px solid #bebebe;
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 80px;
  margin-top: 15px;
  font-weight: bold;
}
.time-item-info-list {
  font-size: 16px;
  color: #333;
  margin-top: 15px;
}
.time-item-info-lis {
  margin: 15px 0 15px 0;
}
/* 카운트다운 */
#container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}
#timer {
  font-size: 3em;
  color: #F93C3C;
  font-weight: 700;
  /* margin-top: 20px; */
}
.timesale-title i{
  color: #F93C3C;
  font-weight: 700;
}
/* @media screen and (max-width:1280px) {
  .time-item-info{
    width: 100%;
  }
} */
@media screen and (max-width: 768px) {
  .timesale .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
  }
  .timesale-title {
    width: 100%;
    text-align: center;
  }
  .timesale-title h2 br {
    display: none;
  }
  .time-item-info img {
    padding-top: 30px;
  }
  .timesale-title span {
    font-size: 20px;
  }
  #timer {
    font-size: 28px;
  }
  .fa-clock {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  .timesale-title li:nth-child(2){
    margin-bottom: 10px ;
  }
  .timesale-title span {
    font-size: 18px;
  }
  .timesale-title i {
    font-size: 20px;
  }
  #timer {
    font-size: 22px;
    margin-top: 10px;
  }
  .time-item-info img {
    padding-top: 15px;
  }
  .time-item-info .item-info-list h3 {
    font-size: 15px;
  }
  .time-item-info .item-info-list   b {
    font-size: 16px !important
  }
  .time-item-info.item-info-list  b  span{
    font-size: 16px;
  }
  .time-item-info .item-info-list .review  {
    font-size: 12px !important
  }
}
