@charset "UTF-8";
/* 오른쪽 */
.timesale {
  margin-top: 30px;
  width: 100%;
  background-color: #ececec;
}
.timesale .inner {
  width: 100%;
  display: flex;
  padding: 100px 20px;
}
.timesale-title {
  width: calc(100% / 2);
}
.timesale-title .title {
  line-height: 40px;
  margin: 0 0 20px;
}
.timesale-title span {
  font-size: 14px;
  color: #333;
}

.timesale-title i {
  font-size: 26px;
  color: #333;
  display: inline-block;
margin-top: 40px;
}
.timesale-title p{
  font-size: 26px;
  color: #333;
  display: inline-block;
margin:40px 0 0 5px;
}
/* 왼쪽 */
.time-item-info {
  width: 100%;
}
.timesale-banner > img {
  width: 100%;
}

.timesale-bt {
  width: 800px;
  display: block;
  background-color: #fff;
  border: 1px solid #bebebe;
  border-radius: 10px;
  font-size: 16px;
  padding: 8px 80px;
  margin-top: 15px;
  font-weight: bold;
}
.time-item-info-list{
  font-size: 16px;
  color: #333;
  margin-top: 15px;
}
.time-item-info-lis{
  margin: 15px 0 15px 0;
}
/* 카운트다운 */
#container {
  width: 300px;
  margin: 100px auto;
  text-align: center;
}
#timer {
  font-size: 3em;
  margin-top: 20px;
}